# .envrc (workspace root)

# Trust with `direnv allow .`

# Load KEY=VALUE Skaffold envs
dotenv ".devcontainer/skaffold/skaffold.env"

# Keep it pure/fast: only env + PATH changes here
PATH_add .devcontainer/.direnv/bin

# Useful defaults
export K8S_DASHBOARD_PORT="${K8S_DASHBOARD_PORT:=8443}"
export K3D_CFG_PATH="${K3D_CFG_PATH:=.devcontainer/k3d/k3d.yaml}"

# Watch files for reloads
watch_file .envrc .env .env.local
