# Always load shared script env first
source ./.devcontainer/scripts/env.sh

# Then optional interactive-only overrides
dotenv_if_exists ./.devcontainer/skaffold/skaffold.env

export APP_ID=infrastructure-documentation
