# Common Helm ignore patterns (used to speed up local repo loading with `skaffold dev`)
*.md
*.txt
*.bak
*.swp
*.tmp
*.log
*.out
*.DS_Store
.git/
.gitignore
.env
node_modules/
docs/
test/
tests/
__pycache__/
*.pyc
*.lock
*.tar.gz
*.zip
*.tgz
.idea/
.vscode/
*.code-workspace
